{% extends 'partial/layout.html' %}
 {% block header %}
 {% include "partial/header.html" %}
 {% endblock header %}    
  
  {% block slides %}
  {% include "partial/slides.html" %}
  {% endblock slides %}

{% block popularproduct %}
{% include "partial/popularproduct.html" %}
{% endblock popularproduct %}

    
   
{% block newproduct %}
     {% include "partial/newproduct.html" %}
{% endblock newproduct %}
   
     {% block testimonial %}
     {% include "partial/testimonial.html" %}
     {% endblock testimonial %}
   
     {% block footer %}
     {% include "partial/footer.html" %}
     {% endblock footer %}